.About-container {
  min-height: 100vh;               
  width: 100%;
  
  background-color: #0d0d0d;       
  color: #f5f5f5;                 
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px 5%;
  box-sizing: border-box;
  text-align: center;
}

.About-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 0px;
}

.Heading {
  font-size: 2.4rem;
  color: #00bcd4;                  /* accent color */
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.Paragraph-name {
  font-size: 1.8rem;
  color: #f5f5f5;
  margin-bottom: 5px;
  color: #00bcd4;
}

.paragraph {
  font-size: 1rem;
  line-height: 1.8;
  color: #ccc;
}

.ending {
  font-size: 1.6rem;
  color: #00bcd4;
  margin-top: 20px;
}

.Skills-container,.Tool-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.Skill,.Tool {
  background-color: #1a1a1a;
  color: #00bcd4;
  padding: 8px 15px;
  border-radius: 12px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Skill:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 188, 212, 0.4);
}
.Tool:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 188, 212, 0.4);
}

/* Responsive layout for mobile */
@media (max-width: 768px) {
  .Heading {
    font-size: 2rem;
    padding: 0;
  }
  .About-container{
    padding: 0 6%;
  }

  .Paragraph-name {
    font-size: 1.5rem;
    padding: 0;
  }

  .paragraph {
    font-size: 0.95rem;
  }

  .Skills-container,.Tool-container {
    justify-content: center;
  }
  .ending {
    font-size: 1.6rem;
    color: #00bcd4;
    margin-top: 0px
  }
}
