.Footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:var(--bg-color); 
  color: var(--text-color);
  text-align: center;
  padding: 12px 0;
  font-size: 0.95rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.footer-text {
  margin: 0;
}

.Footer-container a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: 500;
}

.Footer-container a:hover {
  text-decoration: underline;
}

